<!doctype html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" integrity="sha512-Ez0cGzNzHR1tYAv56860NLspgUGuQw16GiOOp/I2LuTmpSK9xDXlgJz3XN4cnpXWDmkNBKXR/VDMTCnAaEooxA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/js/bootstrap.bundle.min.js" integrity="sha512-sH8JPhKJUeA9PWk3eOcOl8U+lfZTgtBXD41q6cO/slwxGHCxKcW45K4oPCUhHG7NMB4mbKEddVmPuTXtpbCbFA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
</head>

<body id="index">
  <div class="container-fluid">
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ SITEURL }}/">
          <img src="{{ SITEURL }}/theme/icons/favicon.png" height="32" width="32" class="d-inline-block align-text-top">
          {{ SITENAME }}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" data-bs-target="#navbar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar"> 
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if DISPLAY_MENUITEMS_ON_MENU %}
              {% for title, link in MENUITEMS %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ link }}">{{ title }}</a>
                </li>
              {% endfor %}
            {% endif %}
            {% if DISPLAY_CATEGORIES_ON_MENU %}
              {% for cat, null in categories %}
                <li class="nav-item" {% if cat == category %} class="active"{% endif %}>
                <a class="nav-link" href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a>
                </li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>
{% block content %}
{% endblock %}
  <footer id="contentinfo" class="body">
          Extensions for <a href="https://gitlab.com/allianceauth/allianceauth/"> Alliance Auth</a>
          Powered by <a href="https://getpelican.com/">Pelican</a> and
          <a href="https://getbootstrap.com/">Bootstrap 5</a>.
  </footer>
</body>
</html>