{% extends "base.html" %}
{% block content %}
{% block content_title %}
{% endblock content_title %}

<div class="container-fluid">
<div class="row row-cols-xs-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-6 panels-equal-height g-4">
    {% for article in articles_page.object_list %}
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-2">
            <div class="card h-100">
                <img src="{{ SITEURL }}/images/{% if article.image %}{{article.image}}{% else %}allianceauth.png{% endif %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h5>
                        <p class="card-text"><time class="published" datetime="{{ article.date.isoformat() }}"> {{ article.locale_date }} </time> <br>
                            <address class="vcard author">By
                            {% for author in article.authors %}
                                <a class="url fn" href="{{ SITEURL }}/{{ author.url }}">{{ author }}</a>
                            {% endfor %}
                            </address>
                        <div class="card-text"> {{ article.summary }}</div>
                </div>
                <div class="card-footer">
                    <a href="{{ article.repository }}"  class="card-link">Repository</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock content %}